{
        "comment": "sample config",
        "log_dir": "/var/log/vfd",
        "log_keep": 9,
        "log_level": 4,
        "init_log_level": 2,
        "config_dir": "/var/lib/vfd/config",
        "fifo": "/var/lib/vfd/request",
        "cpu_mask": "0x01",
        "dpdk_log_level": 2,
        "dpdk_init_log_level": 8,
        "default_mtu": 1500,

        "pciids": [{
                "id": "<pfid>",
                "vfs_count": <no of vfs to create>,
                "pf_driver": "igb_uio",
                "vf_driver": "vfio-pci",
                "mtu": 1500
        }, {
                "id": "<pfid>",
                "vfs_count": <no of vfs to create>,
                "pf_driver": "igb_uio",
                "vf_driver": "vfio-pci",
                "mtu": 1500
        }]
}
