Source: attlrvfd
Section: misc
Priority: optional
Maintainer: Dhanunjaya Naidu Ravada <dr3662.att.com>
Package: attlrvfd
Version: 1.0
Architecture: amd64
Depends: python-docopt
Installed-Size: 2048
Description: VFD is a daemon which is used to configures NIC VF's
